body {
  background-color: gray;
  font-family: 'Droid Sans Mono', sans-serif;
}

h1 {
  text-align: center;
  padding-top: 20px;
}

p {
  padding: 20px;
}

.box {
  height: 300px;
  width: 300px;
  margin: auto;
  margin-top: 10%;
  background-color: white;
  -webkit-border-radius: 20px 20px 20px 20px; 
    -moz-border-radius: 20px 20px 20px 20px;
    -o-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
}

.big_box {
  height: 600px;
  width: 600px;
  margin: auto;
  margin-top: 10%;
  background-color: white;
  -webkit-border-radius: 40px 40px 40px 40px; 
    -moz-border-radius: 40px 40px 40px 40px;
    -o-border-radius: 40px 40px 40px 40px;
    border-radius: 40px 40px 40px 40px;
}

.text {
  margin: auto;
}

a {
  text-decoration: none;
  color: gray;
}

ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  padding-top: 40px;
}

li {
  padding-bottom: 20px;
  font-size: 20px;
}

.projects {
  margin-top: 60px;
}

.list {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.social {
  float: left;
}

.proffessional {
  float: right;
}

#nav1 {
  float: right;
  margin-top: 95px;
  margin-right: 40px;
}

#nav2 {
  float: right;
  margin-top: 137px;
  margin-right: 40px;
}

.hidden {
  display: none;
}

.project_spot {
  width: 100%;
}

.project_spot img{
  display: inline-block;
  width: 45%;
  height: 150px;
  border: 1px solid black;
}


