<div class="big_box">
  <h1>ABOUT</h1>
  <p>I am a Software Engineer! Most recently I worked in Python and C++ at <a href="http://www.makerbot.com/desktop" target="_blank">Makerbot</a>, and before that in Python/Django and Javascript at a small startup called <a href="https://getwiser.com/" target="_blank">Wiser</a>. My coding education comes from the <a href="http://flatironschool.com/nycworkforce1/" target="_blank">NYC Web Development Fellowship</a> at the Flatiron School, which I attended in winter 2013/2014. My life education comes from the four different apartments and eight jobs I had in the year before I started coding. I graduated from Wellesley College with a B.A. in Math.</p>
  <p>Contact me if you love keyboard shortcuts, talking about public transportation, regex, or games involving yelling.</p>
  <div class="list">
    <div class="social">
      <ul>
        <li><a href="http://katepdonahue.tumblr.com/" target="_blank">blog</a></li>
        <li><a href="https://github.com/katepdonahue" target="_blank">github</a></li>
      </ul>
    </div>
    <div class="proffessional">
      <ul>
        <li><a href="https://www.linkedin.com/pub/kate-donahue/70/29b/588/
        " target="_blank">linkedin</a></li>
        <li><a href="mailto:katepdonahue@gmail.com">email me</a></li>
      </ul>
    </div>
  </div>
  <a id="nav" href="#">home</a>
</div>
