<div class="big_box">
  <h1>ABOUT</h1>
  <p>I recently graduated from the <a href="http://flatironschool.com/nycworkforce1/" target="_blank">NYC Web Development Fellowship</a> at the <a href="http://bk.flatironschool.com/" target="_blank">Flatiron School in Brooklyn</a>, New York. Between graduating from <a href="http://www.wellesley.edu/" target="_blank">Wellesley College</a> in 2012 and beginning my formal coding education, I have lived in four different apartments and had eight different jobs. Now I live in Bed Stuy with my two best friends from college and our two cats.</p>
  <div class="list">
    <div class="social">
      <ul>
        <li><a href="http://katepdonahue.tumblr.com/" target="_blank">blog</a></li>
        <li><a href="https://github.com/katepdonahue" target="_blank">github</a></li>
      </ul>
    </div>
    <div class="proffessional">
      <ul>
        <li><a href="https://www.linkedin.com/pub/kate-donahue/70/29b/588/
        " target="_blank">linkedin</a></li>
        <li><a href="mailto:katepdonahue@gmail.com">email me</a></li>
      </ul>
    </div>
  </div>
  <a id="nav" href="#">home</a>
</div>