<div class="big_box">
  <h1>PROJECTS</h1>
  <div class="projects">
    <ul>
      <li>
        <span>game of life</span>
        <div class="hidden project_spot">
          <a href="http://comemyminions.herokuapp.com/" target="_blank"><img src="img/gol_fast_small.gif"/></a>
          <a href="https://github.com/katepdonahue/Game-of-Life-Sinatra-App" target="_blank"><img src="img/gol_code.png"/></a>
        </div>
      </li>

      <li>
        <span>playlister</span>
        <div class="hidden project_spot">
          <a href="http://dry-garden-7312.herokuapp.com/" target="_blank"><img src="img/gol_fast_small.gif"/></a>
          <a href="https://github.com/katepdonahue/Sinatra_Playlister" target="_blank"><img src="img/gol_code.png"/></a>
        </div>
      </li>

      <li>
        <span>quiz</span>
        <div class="hidden project_spot">
          <a href="http://calm-oasis-9271.herokuapp.com/" target="_blank"><img src="img/gol_fast_small.gif"/></a>
          <a href="https://github.com/katepdonahue/Quiz" target="_blank"><img src="img/gol_code.png"/></a>
        </div>
      </li>
      
      <li>
        <span>complimenter</span>
        <div class="hidden project_spot">
          <a href="http://christianlassencompliment.herokuapp.com/" target="_blank"><img src="img/gol_fast_small.gif"/></a>
          <a href="https://github.com/katepdonahue/Emergency-Compliment" target="_blank"><img src="img/gol_code.png"/></a>
        </div>
      </li>

      <li>
        <span>rock, paper, scissors</span>
        <div class="hidden project_spot">
          <a href="http://rockpaperramon.herokuapp.com/" target="_blank"><img src="img/gol_fast_small.gif"/></a>
          <a href="https://github.com/katepdonahue/Rock_Paper_Scissors" target="_blank"><img src="img/gol_code.png"/></a>
        </div>
      </li>

    </ul>
  </div>
  <a id="nav" href="#">home</a>
</div>
<script type="text/javascript">
  $(document).ready( function() {
    $("li span").on("click", function() {
      $(this).parent().find(".project_spot").slideToggle("slow", function() {
        $(this).toggleClass("hidden");
      });
    });
  });
</script>