<div class="big_box">
  <h1>PROJECTS</h1>
  <div class="projects">
    <ul>

      <li>
        <span>transcriot</span>
        <div class="hidden project_spot">
          <p>A Rails app crowd-sourcing transcription project for the NYPL Labs which allows users to transcribe first hand accounts from the NY Draft Riots of 1863. <br>Focus: Saloons suspected of being brothels. Also, tons of REGEX, jQuery and Javascript, <a href="http://en.wikipedia.org/wiki/Optical_character_recognition" target="_blank">OCR</a>, and custom rake tasks. This project literally started out as a bunch of images of pages from a book.</p>
          <a href="http://transcriot.herokuapp.com/" target="_blank"><img src="img/transcriot.gif"/></a>
          <a href="https://github.com/katepdonahue/transcriot" target="_blank"><img src="img/transcriot_code.png"/></a>
        </div>
      </li>

      <li>
        <span>aileenify</span>
        <div class="hidden project_spot">
          <p>A Sinatra App that transforms your bland emails into masterpieces of lols and exclamations— how my roommate Aileen would write them.<br>Focus: Creating something hilarious. Bonus features include a random gif and buzzfeed article link scraped using Nokogiri.</p>
          <a href="http://aileenify.herokuapp.com/" target="_blank"><img src="img/aileenify.gif"/></a>
          <a href="https://github.com/katepdonahue/Aileenify_Your_Email" target="_blank"><img src="img/aileenify_code.png"/></a>
        </div>
      </li>

      <li>
        <span>game of life</span>
        <div class="hidden project_spot">
          <p>A Sinatra app that allows users to populate a board and then watch Conway's Game of Life cells live and die. <br>Focus: Ruby classes and methods.</p>
          <a href="http://comemyminions.herokuapp.com/" target="_blank"><img src="img/gol_fast_small.gif"/></a>
          <a href="https://github.com/katepdonahue/Game-of-Life-Sinatra-App" target="_blank"><img src="img/gol_code.png"/></a>
        </div>
      </li>

      <li>
        <span>youtube-playlister</span>
        <div class="hidden project_spot">
          <p>A Sinatra app that allows users to browse songs by title, author, or genre and play the corresponding music video. <br>Focus: Youtube API, architecture of a Sinatra app.</p>
          <a href="http://youtube-playlister.herokuapp.com/" target="_blank"><img src="img/playlister.gif"/></a>
          <a href="https://github.com/katepdonahue/Sinatra_Playlister" target="_blank"><img src="img/playlister_code.png"/></a>
        </div>
      </li>

      <li>
        <span>rock, paper, story</span>
        <div class="hidden project_spot">
          <p>A small Sinatra app rock, paper, scissors game. If you win you get to hear my 6-year-old sister read a story.<br>Focus: Architecture of a Sinatra app, use of audio.</p>
          <a href="http://rockpaperstory.herokuapp.com/" target="_blank"><img src="img/rps2.gif"/></a>
          <a href="https://github.com/katepdonahue/Rock_Paper_Scissors" target="_blank"><img src="img/rps_code2.png"/></a>
        </div>
      </li>

      <li>
        <span>lost in rails</span>
        <div class="hidden project_spot">
          <p>A quiz game on the rails filestructure, ironically this is a Sinatra App.<br>Focus: Creating a small rails learning tool.</p>
          <a href="http://lostinrails.herokuapp.com/" target="_blank"><img src="img/lostinrails.gif"/></a>
          <a href="https://github.com/katepdonahue/Guess_which_folder" target="_blank"><img src="img/lostinrails_code.png"/></a>
        </div>
      </li>

      <li>
        <span>complimenter</span>
        <div class="hidden project_spot">
          <p>A small Sinatra app which delivers a compliment complete with a beautiful background, reminiscent of folders you may have used in elementary school. <br>Focus: Architecture of a Sinatra app.</p>
          <a href="http://christianlassencompliment.herokuapp.com/" target="_blank"><img src="img/compliment.gif"/></a>
          <a href="https://github.com/katepdonahue/Emergency-Compliment" target="_blank"><img src="img/comp_code2.png"/></a>
        </div>
      </li>

      <li>
        <span>power rangers quiz</span>
        <div class="hidden project_spot">
          <p>A small Sinatra app that reveals your inner power ranger. <br>Focus: HTML forms.</p>
          <a href="http://quiz-form.herokuapp.com/" target="_blank"><img src="img/quiz.gif"/></a>
          <a href="https://github.com/katepdonahue/Quiz" target="_blank"><img src="img/quiz_code2.png"/></a>
        </div>
      </li>
      

      <li>
        <span>connect four</span>
        <div class="hidden project_spot">
          <p>A jQuery library to implement the classic board game connect four.<br>Focus: jQuery event handlers.</p>
          <a href="http://ashleys-gambit.herokuapp.com/games/students/connect4/connect4" target="_blank"><img src="img/connect4.gif"/></a>
          <a href="https://github.com/katepdonahue/trebek/blob/master/public/connect4.js" target="_blank"><img src="img/connect4_code.png"/></a>
        </div>
      </li>

    </ul>
  </div>
  <a id="nav" href="#">home</a>
</div>
<script type="text/javascript">
  $(document).ready( function() {
    var $name = $("li span");
    $name.on("click", function() {
      var $this = $(this);
      $this.toggleClass("select");
      var $notSelect = $name.not($this);
      $notSelect.parent().find(".project_spot").slideUp("slow", function() {
        $(this).addClass("hidden");
        $notSelect.removeClass("select");
      });
      $this.parent().find(".project_spot").slideToggle("slow", function() {
        $(this).toggleClass("hidden");
      });
    });
  });
</script>