<div class="big_box">
  <h1>PROJECTS</h1>
  <div class="projects">
    <ul>
      <li><span>game of life</span>
        <div class="hidden project_spot">
          <a href="http://comemyminions.herokuapp.com/" target="_blank"><img src="img/gol.gif"/></a>
          <a href="https://github.com/katepdonahue/Game-of-Life-Sinatra-App/tree/master/lib" target="_blank"><img src="img/gol_code.png"/></a>
        </div>
      </li>
      <li><a href="http://dry-garden-7312.herokuapp.com/" target="_blank">playlister</a></li>
      <div class="hidden"></div>
      <li><a href="http://calm-oasis-9271.herokuapp.com/" target="_blank">quiz</a></li>
      <div class="hidden"></div>
      <li><a href="http://christianlassencompliment.herokuapp.com/" target="_blank">complimenter</a></li>
      <div class="hidden"></div>
      <li><a href="http://rockpaperramon.herokuapp.com/" target="_blank">rock, paper, razor ramon</a></li>
      <div class="hidden"></div>

    </ul>
  </div>
  <a id="nav2" href="#">home</a>
</div>
<script type="text/javascript">
  $(document).ready( function() {
    $("li span").on("click", function() {
      $(".project_spot").slideToggle("slow", function() {
        $(this).toggleClass("hidden");
      });
    });
  });
</script>